/* css/style.css */
:root {
  --bg-color: #181818;
  --txt-color: #e5e5e5;
  --primary-color: #66ccff; 
  --button-bg: #333333;
  --button-hover-bg: #444444;
  --border-radius: 10px;
  --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  --transition-speed: 0.3s;
  --fnt: 'Arial', sans-serif;
}

/* ------ General ------ */
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;

  width: 100vw;
  height: 100vh;
  overflow: hidden;

  background-color: var(--bg-color);
  color: var(--txt-color);
  font-family: var(--fnt);
  overflow: hidden;
  transition: background-color var(--transition-speed);
}

header {
  width: 20%;
  height: 100%;
  min-width: 250px;

  background-color: #222222;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}

main {
  width: 80%;
  height: 100%;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
  transition: all var(--transition-speed);
}

#controls {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

label, select, input, button {
  margin: 8px;
  font-size: 1rem;
  transition: all var(--transition-speed);
}

select, input {
  padding: 8px;
  border-radius: var(--border-radius);
  border: 1px solid #444;
  background-color: #333;
  color: var(--txt-color);
  transition: background-color 0.3s, color 0.3s;
}

select:focus, input:focus {
  background-color: #444;
  outline: none;
  border-color: var(--primary-color);
}

button {
  padding: 10px 15px;
  border-radius: var(--border-radius);
  background-color: var(--button-bg);
  color: var(--txt-color);
  font-weight: bold;
  border: none;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  transition: background-color var(--transition-speed), box-shadow var(--transition-speed);
}

button:hover {
  background-color: var(--button-hover-bg);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.4);
}

#btn-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#btn-menu button {
  width: 100%;
  height: 2rem;
}

#status {
  opacity: 0.6;
  margin: 12px;
  font-size: 0.9rem;
}

hr {
  opacity: 0.1;
}

input[type="file"] {
  width: 80%;
}

input[type="file"] span {
  font-size: 0.5rem;
}

/* ------ Mobile screens ------ */

@media (min-width: 769px) {
  main {
    max-width: calc(100vw - 250px);
  }

  hr {
    width: 100%;
    height: 1px;
    border: none;
    background: white;
  }
}

@media (max-width: 768px) {
  body {
    flex-direction: column !important;
  }
  
  main {
    width: 100% !important;
    height: 80% !important;
  }

  header {
    width: 100% !important;
    height: 20% !important;
  }

  #controls {
    flex-direction: row !important;
    justify-content: space-evenly !important;
    overflow-x: auto;
  }

  #btn-menu {
    flex-direction: column !important;
    justify-content: flex-start !important;
  }

  #btn-menu button {
    width: 2rem !important;
    height: 100% !important;
    min-width: 60px;
  }
}
